<h1>
  <b>My Car</b>
</h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td>
      <b>Make</b>  <%= @car.make %><br/>
      <b>Model</b>  <%= @car.model %><br/>
      <b>Plate</b>  <%= @car.plate_num %><br/>
    <br/>
      <b>Distance Traveled</b>  12,374 km<br/>
      <b>Mileage (2 weeks)</b>  11.9 km/litre<br/>
    <br/>
    </td>
    <td>
      <%= image_tag("vw-vento.jpg", :alt => "Volkswagen Vento") %>
    </td>
  </tr>
</table>
<hr />
<p>
  <b>Locations</b>
</p>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<div id="map"></div>
<script type="text/javascript">
  var default_zoom = 13;
  var points = new Array();
  <% @points.each_with_index do |point,i| %>
    points[<%=i%>] = [<%=point.lat%>,<%=point.lon%>];
  <% end %>
  var map = L.map('map', {
    center: [points[0][0],points[0][1]],
    zoom: 13
  });
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  add_point_to_map(points);
  bound_map_to_points(points);
</script>
<hr />
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
